@using Microsoft.AspNetCore.Components.Authorization
@using SawyersCodeBlog.Client.Models
@using SawyersCodeBlog.Client.Services.Interfaces

@implements IDisposable

@inject NavigationManager NavigationManager
@inject ICategoryDTOService CategoryService


<!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page -->
<header class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container">

        <!-- Navbar brand (Logo) -->
        <a class="navbar-brand pe-sm-3" href="/">
            <img src="/images/Untitled design.svg" height="50" width="50" />
            CodeBlog
        </a>

        <!-- Mobile menu toggler (Hamburger) -->
        <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar collapse (Main navigation) -->
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">

                <li class="nav-item">
                    <NavLink class="nav-link" href="#" Match="NavLinkMatch.Prefix">Home</NavLink>
                </li>

                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="categories" Match="NavLinkMatch.Prefix" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Categories</NavLink>
                    <ul class="dropdown-menu">
                        @foreach(CategoryDTO category in categories)
                        {
                            <li><a class="dropdown-item" href="category/@category.Id">@category.Name</a></li>
                        }                      
                    </ul>
                </li>


                <AuthorizeView Roles="Author">
                    <li class="nav-item dropdown">
                        <NavLink class="nav-link dropdown-toggle" href="author" Match="NavLinkMatch.Prefix" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Author Menu</NavLink>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="author/create">New Post</a></li>
                            <li><a class="dropdown-item" href="author/blogposts">Manage Posts</a></li>
                            <li><a class="dropdown-item" href="author/categories">Manage Categories</a></li>
                        </ul>
                    </li>
                </AuthorizeView>


                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item dropdown">
                            <NavLink class="nav-link dropdown-toggle" href="Account" Match="NavLinkMatch.Prefix" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">@(context.User?.Identity?.Name ?? "Account")</NavLink>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="Account/Manage">Profile</a>
                                </li>
                                <li>
                                    <form class="dropdown-item" action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="nav-link ps-0">
                                            Logout
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login" Match="NavLinkMatch.All">
                                Login / Register
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </nav>
    </div>
</header>

@code {
    private string? currentUrl;
    private IEnumerable<CategoryDTO> categories = [];

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnInitializedAsync ()
    {
        categories = await CategoryService.GetCategoriesAsync();
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
