@page "/"
@layout SidebarLayout
@using SawyersCodeBlog.Client.Components.UI
@using SawyersCodeBlog.Client.Models
@using SawyersCodeBlog.Client.Services.Interfaces
@using SawyersCodeBlog.Components.Layout
@rendermode InteractiveServer

@inject IBlogPostDTOService BlogPostService
@inject ICategoryDTOService CategoryService

<PageTitle>Home</PageTitle>

<h1 class="pb-3 pb-lg-4">My Blogs:</h1>
@foreach (BlogPostDTO blogPost in posts.Where(bp => bp.IsPublished == true))
{
    <BlogPostCard blogPost="blogPost" />
}


@code {
    [Parameter, EditorRequired]
    public CategoryDTO? Category { get; set; }

    private BlogPostDTO blogPost = new BlogPostDTO();
    private IEnumerable<BlogPostDTO> posts = [];
    private IEnumerable<CategoryDTO> categories = [];

    protected override async Task OnInitializedAsync()
    {
        posts = await BlogPostService.GetBlogPostsAsync();

        categories = await CategoryService.GetCategoriesAsync();
    }
}